[user]
	name = ohyama
	email = yuki.ohyama@gmail.com
[core]
	excludesfile = /Users/ohyama/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[color]
	ui = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	template = /Users/ohyama/.stCommitMsg
