# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dotenv environment variable files
.env*
!.envrc
!.env.test

# Dependency directories
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Coverage directory
coverage

# misc
.DS_Store
*.pem
