[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[push]
	default = simple
[color]
	ui = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	template = ~/.gitconfig_commit_template
[fetch]
	prune = true
