{{- $notionToken := "" -}}
{{- if stdinIsATTY -}}
{{-   $notionToken = promptStringOnce . "notionToken" "Notion API Token" -}}
{{- else -}}
{{-   $notionToken = get . "notionToken" | default "" -}}
{{- end -}}

[data]
    notionToken = {{ $notionToken | quote }}

[diff]
    pager = "delta"
