{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# homebrew
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

# anyenv
eval "$(anyenv init -)"
if [ ! -d "${XDG_CONFIG_HOME:-${HOME}/.config}/anyenv/anyenv-install" ]; then
  anyenv install --force-init
fi

# nodenv
if [ ! -d "$(anyenv root)/envs/nodenv" ]; then
  anyenv install nodenv
  eval "$(anyenv init -)"
fi

# node
NODE_VERSION=$(cat "{{ .chezmoi.sourceDir }}/../.node-version")
if ! nodenv versions --bare | grep -q "$NODE_VERSION"; then
  nodenv install "$NODE_VERSION"
  nodenv global "$NODE_VERSION"
fi

# npm global packages
{{ range .packages.darwin.npms -}}
npm install -g {{ . | quote }}
{{ end -}}
{{ end -}}
